{% extends "::base.html.twig" %}

{% trans_default_domain 'asf_doc' %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets '@ASFDocumentBundle/Resources/public/less/*' %}
	<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts '@ASFDocumentBundle/Resources/public/js/*' %}
	<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block body %}
	{% block breadcrumbs %}
	<div class="row">
		{% block breadcrumbs_root %}
		<a href="#" title="{{ 'Home'|trans }}">{{ 'Home'|trans }}</a> > <a href="{{ path('asf_doc_page_list') }}" title="{{ 'Pages list'|trans }}">{{ 'Pages list'|trans }}</a>
		{% endblock %}
		{% block breadcrumbs_tree %}{% endblock %}
	</div> 
	{% endblock %}
	
	<h1>{% block page_title %}{{ 'Pages list'|trans }}{% endblock %}</h1>
	
	{% block asf_cmd %}
	<div class="row cmd-actions">
		<div class="btn-group" role="group">
		{% block asf_cmd_buttons %}{% endblock %}
		</div>
	</div>
	{% endblock %}
	
	{% block content %}{% endblock %}
{% endblock %}