{% extends 'AsfDocumentBundle::layout.html.twig' %}

{% block asf_base_meta_title %}{{ page.getTitle() }}{% endblock %}

{% trans_default_domain 'asf_doc_page' %}

{% block asf_base_header_stylesheets %}
{{ parent() }}
{{ form_stylesheet(form) }}
{% endblock asf_base_header_stylesheets %}
        
{% block asf_base_header_javascripts %}
{{ parent() }}
{{ form_javascript(form) }}
{{ tinymce_init() }}
{% endblock asf_base_header_javascripts %}

{% block breadcrumbs_tree %}
 > <a href="{{ path('asf_doc_page_list') }}" title="{{ 'Pages list'|trans }}">{{ 'Pages list'|trans }}</a>
{% if page.getId() is not null %}
 > <a href="{{ path('asf_doc_page_edit', {id: page.getId()}) }}" title="{{ page.getTitle() }}">{{ page.getTitle() }}</a>
{% else %}
 > <a href="{{ path('asf_doc_page_add') }}" title="{{ page.getTitle() }}">{{ page.getTitle() }}</a>
{% endif %}
{% endblock %}

{% block page_title_container %}{% endblock %}
{% block page_content %}
<div class="container-fluid">
	<div class="row">
	{{ form_start(form) }}
	
	{{ form_errors(form) }}
	
	<div class="row">
		
		<div class="col-xs-12">
			<div class="form-group">
				{{ form_widget(form.title) }}
				{{ form_errors(form.title) }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2">
			{{ form_row(form.state) }}
		</div>
		{% if form.vars.isAccountActivated and form.vars.isAsfUserSupport %}
			<div class="col-xs-3">
				{{ form_row(form.author) }}
			</div>
		{% endif %}
		<div class="col-xs-7">
			<div class="form-group">
				<div class="row">{{ form_label(form.slug) }}</div>
				<div class="row doc-url-container">
					<div class="pull-left">{{ app.request.schemeAndHttpHost }} /</div>
					<div class="pull-left doc-slug-container">{{ form_widget(form.slug) }}</div>
				</div>
				<div class="row">{{ form_errors(form.slug) }}</div>
			</div>
		</div>
	</div>
	
	{{ form_end(form) }}
	</div>
</div>

<div class="row">
{% for key,widget in widgets %}
	<div class="widget widget-{{ key }}">
		<div class="widget-header">
			<strong>{{ widget.getTitle() }}</strong>
		</div>
		<div class="widget-content">
			{{ render(controller(widget.getController())) }}
		</div>
		<div class="widget-footer">
			{{ widget.getFooter() }}
		</div>
	</div>
{% endfor %}
</div>

{% endblock page_content %}